body {
  font-size: 16px;
}

section .slide-content {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  margin: auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

div#header {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

section {
  padding: 20px;
}

.ioslides-controls {
  bottom: 10px;
}
